<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900" rel="stylesheet">
	<title>Ultimate Fan</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/login/styles.css" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<section class="header">

		<div class="header__logo-box">
			<div class="logo__background-bottom">
				<div class="logo__background-middle">
					<div class="logo__background-top">
						<div class="logo__text">
							<h1>Ultimate Fan</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header__userbox">
			<div class="header__userbox-icon">
				<i class="fas fa-user"></i>
				<p> user.alias </p>
			</div>
			<div class="header__userbox-action">
				<form action="" method="POST">
					<i class="fas fa-sign-out-alt"></i>
					<p>sign out</p>
				</form>
			</div>
		</div>

	</section>

	<div class="navigation">

		<!-- checkbox hack for nav toggle -->
		<input type="checkbox" class="navigation__checkbox" checked id="navi-toggle" />

		<!-- shadowbox hiding underneath the toggle button -->
		<div class="navigation__background">

		<!-- UI nav toggle button -->
		<label for="navi-toggle" class="navigation__button">
			<span class="navigation__icon"></span>
			<div class="btn-push">
				<!-- Menu -->
			</div>
		</label>
		
		<!-- navigation menu -->
		<!-- <nav class="navigation__nav">

			<div class="navigation__list">

				<div class="navigation__item">
					<a href="#" class="navigation__link">Quiz</a>
				</div>

				<div class="navigation__item">
					<a href="#" class="navigation__link">Stats</a>
				</div>	

			</div>
		</nav> -->

	</div>

	<!-- <section class="carousel">
		
		<div class="carousel__image-container">
			image
		</div>

	</section> -->
<div class="forms">
	<div class="registration">
	<h2>Register</h2>
		<div class="row">
			<form action="#" method="post" class="form">
				<!-- {% url 'register' %} -->
				<!-- {% csrf_token %} -->

				<div class="form__group">
					<input 
						id="alias"
						name="alias" 
						placeholder="Alias" 
						autoComplete="off"
						required
						class="form__input"
						type="text" 
						>
					<label 
						for="alias"
						class="form__label">
						Alias
					</label>
				</div>

				<div class="form__group">
					<input 
						id="email"
						name="email" 
						placeholder="Email"  
						autoComplete="off"
						required
						class="form__input"
						type="text" 
						>
					<label 
						for="email"
						class="form__label">
						Email
					</label>
				</div>

				<div class="form__group">
					<input 
						id="password"
						name="password" 
						placeholder="Password" 
						autoComplete="off"
						required
						class="form__input"
						type="password">
					<label 
						for="password"
						class="form__label">
						Password
					</label>
				</div>

				<div class="form__group">
					<input 
						id="cpassword"
						name="cpassword" 
						placeholder="Confirm Password" 
						autoComplete="off"
						required
						class="form__input"
						type="password">
					<label 
						for="cpassword"
						class="form__label">
						Confirm Password
					</label>
				</div>
				<button class="btn btn--blue">Register &rarr;</button>
			</form> 
		</div>
	</div>

	<!-- {{request.session.status}} -->
	<div class="login">
		<div class="row">
			<div class="book">
				<div class="book__form">
					<div class="u-margin-bottom-medium">
						<h2 class="heading-secondary">Login</h2>
					</div>
					<form action="/" class="form">
						<div class="form__group">
							<input 
								type="text" 
								class="form__input" 
								placeholder="alias" 
								id="alias"
								autoComplete="off"
								required/>
							<label 
								for="alias" 
								class="form__label">
								Alias
							</label>
						</div>
						<div class="form__group">
							<input 
								type="email" 
								class="form__input" 
								placeholder="email"
								id="email"
								autoComplete="off"
								required />
							<label 
								for="email" 
								class="form__label">Email address
							</label>
						</div>
						<div class="form__group">
							<button class="btn btn--blue">Login &rarr;</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>




	
</body>
</html>