<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900" rel="stylesheet">
	<title>Ultimate Fan</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/login/styles.css" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<section class="header u-margin-bottom-small">

		<div class="header__logo-box">
			<div class="logo__background-bottom">
				<div class="logo__background-middle">
					<div class="logo__background-top">
						<div class="logo__text">
							<h1>Ultimate Fan</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header__userbox">
			<div class="header__userbox-icon">
				<i class="fas fa-user"></i>
				<p> user.alias </p>
			</div>
			<div class="header__userbox-action">
				<form action="" method="POST">
					<i class="fas fa-sign-out-alt"></i>
					<p>sign out</p>
				</form>
			</div>
		</div>

	</section>

	<div class="navigation">

		<nav class="navigation__nav">
			<div class="navigation__list">

				<div class="navigation__item">
					<a href="#" class="navigation__link">Home</a>
					<div class="navigation__link-details">
						home link
					</div>
				</div>

				<div class="navigation__item">
					<a href="#" class="navigation__link">Quizzes</a>
					<div class="navigation__link-details">
						quiz link
					</div>
				</div>

				<div class="navigation__item">
					<a href="#" class="navigation__link">Quiz Stats</a>
					<div class="navigation__link-details">
						stats link
					</div>
				</div>

				<div class="navigation__item">
					<a href="#" class="navigation__link">Your Account</a>
					<div class="navigation__link-details">
						account link
					</div>
				</div>	

			</div>
		</nav>

	</div>




	<!-- <section class="carousel">
		
		<div class="carousel__image-container">
			image
		</div>

	</section> -->



	
</body>
</html>