.forms {
    // position: relative;
    // display: flex;
}

.registration {
    display: inline-block;
    border: 1px dashed blue;
    width: 50%;
    padding: 3rem;
    display: none;
}

.login {
    @include absoluteCenter;
    display: inline-block;
    border: 1px dashed blue;
    width: 50%;
    padding: 3rem;
}