// colors 
$color-primary: #19415C;
$color-primary-light: #4A85AD;
$color-primary-medium: #396A8B;

$color-blue-grey: #485562;

$color-white: #f2f2f2;
$color-white-2: #ddd;

$color-grey-dark: #333;

$color-black: #000;


// font
$default-font-size: 1.6rem;

// shadow
$default-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

//border-radius
$default-border-radius: 3px;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;